<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoogleAuthenticator" version="3.0.0" targetFramework="net48" />
  <package id="ILRepack" version="2.0.18" targetFramework="net48" />
  <package id="LibGit2Sharp" version="0.26.2" targetFramework="net48" />
  <package id="LibGit2Sharp.NativeBinaries" version="2.0.306" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net48" />
  <package id="QRCoder" version="1.4.3" targetFramework="net48" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
  <package id="WMPLib" version="1.0.0" targetFramework="net48" developmentDependency="true" />
</packages>